
<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">


  <!-- Social icons -->
  <div class="pb-2 mt-5 pt-5">
    {{ partial "ref-icon.html" . }}
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="copyright py-4">
    <span>  2016 - {{ now.Year }} &copy; | Theme <a href='https://github.com/EliiseS/AllinOne' target="_blank">AllinOne</a> by <a href='https://github.com/orianna-zzo' target="_blank">Orianna</a>  </span>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
