{{ if $.Site.Params.github }}
  <a href="{{ $.Site.Params.github }}" target="_blank" rel="noopener me"><i class="fab fa-github pr-1" aria-hidden="true"></i></a>    
{{ end }}

{{ if .Site.Params.gitlab }}
  <a href="{{ $.Site.Params.gitlab }}" target="_blank" rel="noopener me"><i class="fab fa-gitlab pr-1" aria-hidden="true"></i></a>    
{{ end }}

{{ if .Site.Params.bitbucket }}
  <a href="{{ $.Site.Params.bitbucket }}" target="_blank" rel="noopener me"><i class="fab fa-bitbucket pr-1" aria-hidden="true"></i></a>    
{{ end }}

{{ if .Site.Params.linkedin }}
  <a href="{{ $.Site.Params.linkedin }}" target="_blank" rel="noopener me"><i class="fab fa-linkedin pr-1" aria-hidden="true"></i></a>
{{ end }}

{{ if .Site.Params.facebook }}
  <a href="{{ $.Site.Params.facebook }}" target="_blank" rel="noopener me"><i class="fab fa-facebook pr-1" aria-hidden="true"></i></a>
{{ end }}

{{ if .Site.Params.twitter }}
  <a href="{{ $.Site.Params.twitter }}" target="_blank" rel="noopener me"><i class="fab fa-twitter pr-1" aria-hidden="true"></i></a>
{{ end }}

{{ if .Site.Params.instagram }}
  <a href="{{ $.Site.Params.instagram }}" target="_blank" rel="noopener me"><i class="fab fa-instagram pr-1" aria-hidden="true"></i></a>
{{ end }}

{{ if .Site.Params.medium }}
  <a href="{{ $.Site.Params.medium }}" target="_blank" rel="noopener me"><i class="fab fa-medium pr-1" aria-hidden="true"></i></a>
{{ end }}

{{ if .Site.Params.px500 }}
  <a href="{{ $.Site.Params.px500 }}" target="_blank" rel="noopener me"><i class="fab fa-500px pr-1" aria-hidden="true"></i></a>
{{ end }}

{{ if .Site.Params.email }}
  <a href="mailto:{{ $.Site.Params.email }}"><i class="far fa-envelope-open pr-1" aria-hidden="true"></i></a>
{{ end }}

{{ if .Site.Params.include_rss }}
  {{ with .OutputFormats.Get "rss" }}
      {{ printf `<a rel="%s" type="%s" href="%s" title="%s" ><i class="fas fa-rss pr-1" aria-hidden="true"></i></a>` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
{{ end }}
